<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>LOGIN</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="loginWrap">
    <div class="login-bx">
        <div class="loginframe">
            <div class="logininbx">
                <h1>LOGIN</h1>
                <form id="loginForm" action="/member/login" method="post">
                    <ul>
                        <li><label for="memberId">Member ID</label><input type="text" id="memberId" name="memberId" class="block"></li>
                        <li><label for="password">Password</label><input type="password" id="password" name="password" class="block"></li>
                    </ul>
                    <div class="btnbox">
                        <button type="button" class="custom-btn btn-ani1" onclick="login()">Login</button>
                        <button type="button" class="custom-btn btn-ani1" onclick="redirectToRegisterPage()">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function login() {
        var form = document.getElementById("loginForm");
        form.submit();
    }

    function redirectToRegisterPage() {
        window.location.href = "signupForm.html"; // 회원가입 페이지로 이동
    }
</script>
</body>
</html>