<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.study.multiboard.domain.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="kr.co.study.multiboard.domain.member.model.Member">
        INSERT INTO member (id, password, role)
        VALUES (#{memberId}, #{password}, #{memberType})
    </insert>

    <select id="existsByMemberId" resultType="boolean" parameterType="java.lang.String">
        SELECT COUNT(*) > 0 FROM member WHERE id = #{memberId}
    </select>
</mapper>